#wrapper.dark {
    --scrollbar-track-background-color: var(--gray-2);

    --accent-fill-rest: var(--primary);
    --foreground-on-accent-rest: var(--white);
    --fill-color: var(--gray-1);

    --neutral-fill-input-rest: var(--gray-2);
    --neutral-foreground-rest: var(--gray-6);

    --neutral-fill-input-hover: var(--gray-3);
    --neutral-stroke-input-hover: linear-gradient(var(--gray-3) calc(100% - 1px), var(--gray-3) calc(100% - 1px), var(--gray-3));

    --neutral-fill-input-focus: var(--gray-3);

    --neutral-fill-rest: var(--gray-2);
    --neutral-fill-hover: var(--gray-3);
    --neutral-fill-active: var(--gray-3);
    --neutral-stroke-control-active: var(--gray-3);
    --neutral-stroke-control-hover: linear-gradient(var(--gray-3) calc(100% - 1px), var(--gray-3) calc(100% - 1px), var(--gray-3));

    --neutral-stroke-input-rest: linear-gradient(#efefef38 calc(100% - 1px), #9292923a calc(100% - 1px), #92929262);
    --neutral-stroke-control-rest: linear-gradient(#efefef38 calc(100% - 1px), #9292923a calc(100% - 1px), #92929262);

    --neutral-fill-inverse-rest: var(--white);
    --neutral-layer-floating: var(--gray-1);
    
    --neutral-fill-stealth-rest: var(--gray-2);
    --neutral-fill-stealth-hover: var(--gray-2) !important;
    --neutral-fill-stealth-active: var(--gray-2);
    --neutral-fill-stealth-focus: var(--gray-2);

    background-color: var(--gray-1);
}

#wrapper.dark,
#wrapper.dark .fluent-typography{
    color: var(--gray-5);
}

#wrapper.dark .page-header {
    background: var(--secondary-dark); 
}

#wrapper.dark .fluent-datepicker .root {
    background: #000 !important;
}

#wrapper.dark .container {
    background: var(--secondary-dark); 
}

#wrapper.dark th {
    color: var(--gray-5);
    background: var(--gray-1);
}

#wrapper.dark td {
    color: var(--gray-5);
}

#wrapper.dark .valcation-table th.weekend  {
    background: var(--red);
    color: var(--white);
}

#wrapper.dark tr td {
    border: 1px solid var(--gray-2);
}

#wrapper.dark tr:nth-child(even) td {
    background: var(--gray-1)
}

#wrapper.dark tr:nth-child(odd) td {
    background: #2b3849;
}

#wrapper.dark tr td.month-start,
#wrapper.dark tr th.month-start {
    border-left: 1px double var(--gray-3);
}

#wrapper.dark .fluent-month {
    --fill-color: var(--gray-2);
}

#wrapper.dark .listbox {
    background: var(--gray-2) !important;
} 

#wrapper.dark :host(:not([disabled]):hover) {
    background: var(--neutral-fill-stealth-hover);
}

#wrapper.dark .switch {
    background: var(--primary);
}