.fluent-calendar div[part=day] .weekend,
.fluent-calendar div[part=day] .Regular {
    color: pink;
}

.fluent-calendar div[part=day] .DonorDay {
    background: yellow;
}


.fluent-calendar div[part=day] .NonPayed {
    background: gray;
}

.fluent-calendar span[part=move] {
    display: none !important;
}
