.fluent-calendar div[part=day] .weekend,
.fluent-calendar div[part=day] .Regular {
    color: #FD4E5D;
}

.fluent-calendar div[part=day] .DonorDay {
    background: #FBC756;
}


.fluent-calendar div[part=day] .NonPayed {
    background: gray;
}

.fluent-calendar span[part=move] {
    display: none !important;
}
