

.fluent-calendar div[part=day] .weekend {

}
.fluent-calendar div[part=day] .Regular {
    background: var(--green-3);
    color: var(--white) !important;
}

.fluent-calendar div[part=day] .DonorDay {
    background: #FBC756;
    color: var(--black) !important;
    width: var(--calendar-cell-size);
    height: var(--calendar-cell-size);
    display: block;
    border-radius: 50%;
}


.fluent-calendar div[part=day] .NonPayed {
    background: var(--gray-6);
    color: var(--black) !important;
    width: var(--calendar-cell-size);
    height: var(--calendar-cell-size);
    display: block;
    border-radius: 50%;
}
