

<div class="legend container mt-1">
    <div>
        <span class="Regular">O</span> - Отпуск
    </div>
    <div>
        <span class="DonorDay">Д</span> - Донорский
    </div>
    <div>
        <span class="NonPayed">С</span> - За свой счёт
    </div>
    <div>
        <span class="error">О</span> - Отпуск не может закончиться перед выходными или праздником
    </div>
    <div>
        <span class="">Х</span> - Отменён\Перенесён
    </div>
</div>
