.center-xy-404 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.container-404 {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: var(--gray-1);
    animation: backgroundFade 0.5s ease-in-out;
}

@keyframes backgroundFade {
    from {
        background-color: #fff;
    }

    to {
        background-color: var(--gray-1);
    }
}

@keyframes cursorAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.copy-container-404 {
    text-align: center;
}

.copy-container-404 p {
    color: #fff;
    font-size: 24px;
    letter-spacing: .2px;
    margin: 0;
}

.handle-404 {
    background: #ffe500;
    width: 14px;
    height: 30px;
    top: -10px;
    left: -20px;
    position: absolute;
    animation: cursorAnimation 0.5s cubic-bezier(0.4, 0, 1, 1) infinite;
}

#cb-replay-404 {
    fill: #666;
    width: 20px;
    margin: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: inherit;
    cursor: pointer;
}

#cb-replay-404:hover {
    fill: #888;
}