.valcation-table {
    overflow: auto;
    max-height: 700px; /* set the maximum height of the table */
  }
  
  .planner-table thead tr:nth-child(1) th,
  .planner-table thead th:last-child {
    position: sticky;
    top: 0;
  }

  .planner-table thead tr:nth-child(2) th,
  .planner-table td:nth-last-child(2) {
    position: sticky;
    top: 52px;
  }

  .planner-table thead tr:nth-child(2) th:nth-last-child(2),
  .planner-table thead th:last-child {
    z-index: 9;
  }

    .valcation-table th:nth-child(1),
    .valcation-table td:nth-child(1) {
        border-left: none !important;
        position: sticky;
        left: -1px;
        width: 190px;
        min-width: 190px;
        text-align: left;
    }

    .valcation-table th:nth-child(2),
    .valcation-table td:nth-child(2):not([rowspan]) {
        position: sticky;
        /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
        /* 0 + 2 + 160 + 2 + 1 */
        left: 204px;
        width: 40px;
        min-width: 40px;
    }

    .valcation-table th:nth-child(3),
    .valcation-table td:nth-child(3) {
        position: sticky;
        /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
        /* 0 + 2 + 160 + 2 + 2 + 80 + 2 + 1 */
        left: 261px;
        width: 40px;
        min-width: 40px;
    } 

.valcation-table th:nth-child(1),
.valcation-table th:nth-child(2),
.valcation-table th:nth-child(3) {
    z-index: 6;
}

.valcation-table th:last-child,
.valcation-table td:last-child  {
    min-width: 80px;
    position: sticky;
    right: -1px;
    border-right: none !important;
}

.valcation-table th:nth-last-child(2),
.valcation-table td:nth-last-child(2) {
    min-width: 80px;
    position: sticky;
    right: 94px;
}

.valcation-table tr td:first-child  {
    border-left: none;
}

.valcation-table tr td:last-child {
    border-right: none;
}

/* .valcation-table th:nth-child(-n + 5),
.valcation-table td:nth-child(-n + 5) {
    position: sticky;
    right: 50;
    width: 90px;
    min-width: 90px;
} */