table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
    color: var(--gray-3);
    background:var(--gray-7);
    font-weight: normal;
    text-align:left;  
    position: sticky;
    padding: 0.5rem 0.5rem;
    /* border: 1px solid var(--gray-7); */
  } 
    
  tr { 
    color:var(--gray-3); 
    font-weight:normal; 
  }

  tr td {
    text-align: center;
    border: 1px solid var(--gray-7);
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background: rgba(255, 255, 255, 0.5);
  }
   
  tr:nth-child(even) td {
    background: rgba(247, 247, 247, 0.5);
  } 
