@inherits LayoutComponentBase

<link href="_content/Microsoft.Fast.Components.FluentUI/css/variables.css" rel="stylesheet" />

<PageTitle>BlazorApp1</PageTitle>

<div class="wrapper">
   <div class="header">
        <a href="/">Главная</a>
        <a href="http://localhost:5248/sdf323asdf/adacta">Планер отпусков</a>
    </div>
    <div class="main">

        @* <NavMenu />  *@

        <main> 

            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <p class="error">@ex.Message</p>
                </ErrorContent>
            </ErrorBoundary> 

            <FluentDialogProvider />
            
        </main>
    </div>
</div>
