@inherits LayoutComponentBase

@*<link href="_content/Microsoft.Fast.Components.FluentUI/css/variables.css" rel="stylesheet" />*@

<PageTitle>BlazorApp1</PageTitle>

<div class="container">
   <div class="siteheader">
        <a href="/">Home</a>
        <a href="teams">Список команд</a>
    </div>
    <main>
        @* <div class="navigation">
            <NavMenu />
        </div> *@ 
        <article class="content px-4">

            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <p class="error">@ex.Message</p>
                </ErrorContent>
            </ErrorBoundary>
        </article>

        <FluentDialogProvider /> 
    </main>
</div>