@inherits LayoutComponentBase
@inject AppTheme theme

@*<link href="_content/Microsoft.Fast.Components.FluentUI/css/variables.css" rel="stylesheet" />*@

<PageTitle>Календарь отпусков</PageTitle>

<div id="wrapper" class='@(theme.IsDarkMode ? "dark" : "light")'>
  @* <FluentHeader class="siteheader">
        <a href="/">Home</a>
        <a href="teams">Список команд</a>
    </FluentHeader>*@
    <main>
        @* <div class="navigation">
            <NavMenu />
        </div> *@ 
        <FluentBodyContent class="content">

            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="ex">
                    <p class="error">@ex.Message</p>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>

        <FluentDialogProvider /> 
    </main>
</div>